* {
    margin: 0;
    padding: 0;
  }

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--blue);
}


#full-container {
    display: flex;
    justify-content: center;
}

/* #info-container {
    width: 300px;
} */
    
.box {
    width: 30px;
    height: 30px;
    color: rgba(0, 0, 0, 0);
    /* border: 0.5px solid; */
    /* box-shadow: 0 0 0 0.5px; */
    /* margin: 0; */
    line-height: 30px;
    text-align: center;
    position: relative;
    
}

#game-container {
    display: grid;
    width: 300px;
    grid-template-columns: repeat(10, 1fr);
    /* gap: 0 0 0 0; */
    margin: 0px 0 0px 0;
    position: relative;
    background-image: url(../images/gameboard.avif);
    background-size: cover;
  }

  /* #game-container div {
    width: 30px;
    height: 30px;
    border: 0.2px solid black;
  } */

#piece-one {
    width: 0px;
    height: 0px;
    margin: 0;
    border-radius: 20px;
    background-color: red;
    border: 1px solid black;
    position: absolute;
    left: 4.5px;
    top: 4.5px;
    z-index: 50;
    grid-row-start: 10;
    grid-column-start: 1;
}

#piece-one-smooth {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 20px;
  background-color: rgb(255, 166, 0);
  border: 1px solid black;
  position: absolute;
  left: 4.5px;
  top: 275px;
  z-index: 50;
  transition: all 0.75s;
}

#piece-two {
  width: 0px;
  height: 0px;
  margin: 0;
  border-radius: 20px;
  background-color: blue;
  border: 1px solid black;
  position: absolute;
  left: 4.5px;
  top: 4.5px;
  z-index: 50;
  grid-row-start: 10;
  grid-column-start: 1;
}

#piece-two-smooth {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 20px;
  background-color: rgba(174, 0, 255, 0.493);
  border: 1px solid black;
  position: absolute;
  left: 4.5px;
  top: 275px;
  z-index: 50;
  transition: all 0.75s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

#piece-two-smooth span {
  position: absolute;
  left: -1.6px;
  top: -3px;
}

#game-messages {
  color: red;
}