* {
    margin: 0;
    padding: 0;
  }

  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');


h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--blue);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 0.05rem;
    color: #3d999a;
    margin: 5px;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #3d999a;
    font-weight: 550;
}

#full-container {
    display: flex;
    justify-content: center;
}

/* #info-container {
    width: 300px;
} */
    
.box {
    width: 30px;
    height: 30px;
    color: rgba(0, 0, 0, 0);
    /* border: 0.5px solid; */
    /* box-shadow: 0 0 0 0.5px; */
    /* margin: 0; */
    line-height: 30px;
    text-align: center;
    position: relative;
    
}

#game-container {
    display: grid;
    width: 300px;
    grid-template-columns: repeat(10, 1fr);
    /* gap: 0 0 0 0; */
    margin: 0px 0 0px 0;
    position: relative;
    background-image: url(../images/gameboard.avif);
    background-size: cover;
  }

  /* #game-container div {
    width: 30px;
    height: 30px;
    border: 0.2px solid black;
  } */

#piece-one {
    width: 0px;
    height: 0px;
    margin: 0;
    border-radius: 20px;
    background-color: red;
    border: 1px solid black;
    position: absolute;
    left: 4.5px;
    top: 4.5px;
    z-index: 50;
    grid-row-start: 10;
    grid-column-start: 1;
}

#piece-one-smooth {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 20px;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  left: 4.5px;
  top: 275px;
  z-index: 50;
  transition: all 0.75s;
}

#piece-two {
  width: 0px;
  height: 0px;
  margin: 0;
  border-radius: 20px;
  background-color: blue;
  border: 1px solid black;
  position: absolute;
  left: 4.5px;
  top: 4.5px;
  z-index: 50;
  grid-row-start: 10;
  grid-column-start: 1;
}

#piece-two-smooth {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 20px;
  background-color: blue;
  border: 1px solid black;
  position: absolute;
  left: 4.5px;
  top: 275px;
  z-index: 50;
  transition: all 0.75s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

#robot-icon {
  position: absolute;
  left: -1.6px;
  top: -3px;
  font-size: 0px;
  color: black;
}

#game-messages {
  color: red;
}

#dice-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#dice-roller {
  font-family: 'PT Sans';
  font-size: 2rem;
  padding: 20px;
}